html{
    text-align: center;
    margin-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.boton #saludo{
    background-color: rgb(68, 158, 68);
    padding: 5px;
    border-color: rgb(23, 116, 23);
    border-radius: 5px;
    font-size: 20px;
}
#saludo:hover{
    transform: scale(1.3);
    background-color: rgb(109, 214, 109);
    transition-duration: 0.4s;
}